[Desktop Entry]
Exec=flatpak run --command=pika-backup-monitor org.gnome.World.PikaBackup
Name=org.gnome.World.PikaBackup
Type=Application
X-Flatpak=org.gnome.World.PikaBackup
